<header class="header" itemscope itemtype="http://schema.org/SiteNavigationElement" aria-label="Main navigation">
  <div class="container">
    <div class="header__inner">      
      <nav class="header__links">
        <div class="container header__links-wrapper site-category">
          <ul class="cat1">
            <li>
              <a class="header__link" href="{{ '/' | relative_url }}" itemprop="url"><span itemprop="name">Home</span></a>
            </li>
            <li><a class="header__link" href="{{ '/Choi_Portfolio' | relative_url }}" itemprop="url"><span itemprop="name">portfolio</span></a></li>
            <li>
              <a class="header__link" href="{{ '/language' | relative_url }}" itemprop="url">
                <span itemprop="name">언어</span>
              </a>
              <ul>
                <li><a href="/language/python">파이썬</a></li>
                <li><a href="/language/c">C언어</a></li>
                <li><a href="/language/js">자바스크립트</a></li>
                <li><a href="/language/html">HTML</a></li>
                <li><a href="/language/css">css</a></li>
              </ul>
            </li>
            <li>
              <a class="header__link" href="{{ '/paper_review' | relative_url }}" itemprop="url"><span itemprop="name">논문리뷰</span></a>
            </li>
            <li>
              <a class="header__link" href="{{ '/book_review' | relative_url }}" itemprop="url"><span itemprop="name">책리뷰</span></a>
              <ul>
                <li><a href="/book_review/deeplearning_scratch">밑바닥부터 배우는 딥러닝</a></li>
              </ul>
            </li>
            <li>
              <a class="header__link" href="{{ '/tools' | relative_url }}" itemprop="url"><span itemprop="name">도구들</span></a>
            </li>
            <li>
              <a class="header__link" href="{{ '/life' | relative_url }}" itemprop="url"><span itemprop="name">일상</span></a>
            </li>
          </ul>          
        </div>
      </nav>
      <div class="header__toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>
