<header class="header" itemscope itemtype="http://schema.org/SiteNavigationElement" aria-label="Main navigation">
  <div class="container">
    <div class="header__inner">      
      <nav class="header__links">
        <div class="container header__links-wrapper">
          <a class="header__link" href="{{ '/' | relative_url }}" itemprop="url"><span itemprop="name">Home</span></a>
          <a class="header__link" href="{{ '/Choi_Portfolio' | relative_url }}" itemprop="url"><span itemprop="name">portfolio</span></a>
          <a class="header__link" href="{{ '/language' | relative_url }}" itemprop="url"><span itemprop="name">언어</span></a>
          <a class="header__link" href="{{ '/paper_review' | relative_url }}" itemprop="url"><span itemprop="name">논문리뷰</span></a>
          <a class="header__link" href="{{ '/paper_implementation' | relative_url }}" itemprop="url"><span itemprop="name">논문구현</span></a>
          <a class="header__link" href="{{ '/book_review' | relative_url }}" itemprop="url"><span itemprop="name">책리뷰</span></a>      
          <a class="header__link" href="{{ '/tools' | relative_url }}" itemprop="url"><span itemprop="name">도구들</span></a>   
          <a class="header__link" href="{{ '/life' | relative_url }}" itemprop="url"><span itemprop="name">일상</span></a>
          <a class="header__link" href="{{ '/things' | relative_url }}" itemprop="url"><span itemprop="name">이것저것</span></a>
        </div>
      </nav>
      <div class="header__toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>
